html, body {
	margin: 0;
	padding:0;

}

body { background-image: url(watercolor2.jpg);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	

}



.title {
	
	position: absolute;
	top:40px;
	
	
}



h2 {
	font-family: Georgia, serif;
	font-weight: 200;
	font-size: 35px;
	color: rgb(72, 80, 93);
	margin-left: 10vw;
	margin-bottom:0;
	
	text-decoration-color: none;

}

.home h2 a:hover {
	color: rgb(252, 248, 245);
	transition: all .3s ease-in-out;


}

.home h2 a {
	
	transition: all 1s ease-in-out;

}
h3 {
	font-family: Georgia, serif;
	font-weight: 200;
	font-size: 18px;
	color: rgb(72, 80, 93);
	margin-left: 19vw;
	line-height: 22px;
	padding-top: 0px;
	margin-top:0;

}





img {
	width: 100vw;
	
	

	padding-top: 6vh;
	padding-bottom: 6vh;

}



p {font-family: Georgia, serif;
	font-weight: 100;
	font-size: 14px;
	color: rgb(72, 80, 93);
	line-height: 22px;
	margin-left: 10vw;
	margin-right:10vw;
	margin-bottom:6vh;


}









a {
	text-decoration: none;
	color:rgb(72, 80, 93);

}



.top-section {
	
	width:100vw;
	height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 6vh;
}

.wonder-image {
	 background-image: url(wonder3.JPG)

}

.joy-image {
	 background-image: url(joy2.JPG)
}

.lyricity-image {
	background-image: url(lyricity3.JPG)
}

.beauty-image {
	background-image: url(beauty3.JPG)
}

.simplicity-image {
	background-image: url(simplicity1.JPG)
}

.home-image {
	
	background-image: url(home.JPG)
}
.arrow {

margin-left: 150px;
bottom:100px;
}

.home-arrow {
background-image: url(home-arrow.svg);
height: 10vw;
background-size: cover;
background-repeat: no-repeat;
margin-left: 45vw;
margin-top: 87vh;
width:10vw;
position: absolute;
}

.joy-arrow {
	background-image: url(joy-arrow.svg);
height: 10vw;
background-size: cover;
background-repeat: no-repeat;
margin-left: 45vw;
margin-top: 87vh;
width:10vw;
position: absolute;
}

.wonder-arrow {
	background-image: url(wonder-arrow.svg);
height: 10vw;
background-size: cover;
background-repeat: no-repeat;
margin-left: 45vw;
margin-top: 87vh;
width:10vw;
position: absolute;

}

.joy-left-arrow {
	background-image: url(joy-arrow-left.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;

}

.joy-right-arrow {
	background-image: url(joy-arrow-right.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;
	margin-left: 55vw;

}

.joy-home-icon {
	width: 10vw;
	height: 10vw;
	margin-left:25vw;
	display: inline-block;
	background-image: url(joy-home.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}

.beauty-left-arrow {
	background-image: url(beauty-arrow-left.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;

}

.beauty-right-arrow {
	background-image: url(beauty-arrow-right.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;
	margin-left: 55vw;

}

.beauty-home-icon {
	width: 10vw;
	height: 10vw;
	margin-left:25vw;
	display: inline-block;
	background-image: url(beauty-home.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}

.lyricity-left-arrow {
	background-image: url(lyricity-arrow-left.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;

}

.lyricity-right-arrow {
	background-image: url(lyricity-arrow-right.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;
	margin-left: 55vw;

}

.lyricity-home-icon {
	width: 10vw;
	height: 10vw;
	margin-left:25vw;
	display: inline-block;
	background-image: url(lyricity-home.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}


.wonder-left-arrow {
	background-image: url(wonder-arrow-left.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;

}

.wonder-right-arrow {
	background-image: url(wonder-arrow-right.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;
	margin-left: 55vw;

}

.wonder-home-icon {
	width: 10vw;
	height: 10vw;
	margin-left:25vw;
	display: inline-block;
	background-image: url(wonder-home.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}

.simplicity-left-arrow {
	background-image: url(wonder-arrow-left.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;

}

.simplicity-right-arrow {
	background-image: url(wonder-arrow-right.svg);
	width: 10vw;
	height: 10vw;
	display: inline-block;
	margin-left: 55vw;

}

.home-icon-top {
	width: 10vw;
	height: 10vw;
	margin-left:45vw;
	margin-top:3vh;
	display: inline-block;
	background-image: url(beauty-home.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}

.left-icon-top {
	width: 10vw;
	height: 10vw;
	margin-left:10vw;
	margin-top:3vh;
	display: inline-block;
	background-image: url(top-left.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}


.right-icon-top {
	width: 10vw;
	height: 10vw;
	margin-left:80vw;
	margin-top:3vh;
	display: inline-block;
	background-image: url(top-right.svg);
	background-size: 100%, 100%;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
	display: inline-block;
	

}

.top-rule {
	
	background-color:rgb(219, 220, 220);
	width:90vw;
	height: 2px;
	margin-top:11.5vh;
	position: absolute;
	
	margin-right:10vw;
	


}




.bottom-nav {padding: 0;
	margin-top:2vh;
	margin-bottom:2vh;
	
	text-decoration: none;
	margin-left: 10vw;
	margin-right:10vw;
	}



.beauty-arrow {
	background-image: url(beauty-arrow.svg);
height: 10vw;
background-size: cover;
background-repeat: no-repeat;
margin-left: 45vw;
margin-top: 87vh;
width:10vw;
position: absolute;
}

.lyricity-arrow {
	background-image: url(lyricity-arrow.svg);
height: 10vw;
background-size: cover;
background-repeat: no-repeat;
margin-left: 45vw;
margin-top: 87vh;
width:10vw;
position: absolute;
}

.simplicity-arrow {
	background-image: url(lyricity-arrow.svg);
height: 10vw;
background-size: cover;
background-repeat: no-repeat;
margin-left: 45vw;
margin-top: 87vh;
width:10vw;
position: absolute;
}


.arrow img {

	padding-top: 140px;
	width:20vw;
}

.rule-after {
	background-color:rgb(201, 168, 95);
	width:90vw;
	height: 2px;
	margin: : 5px;
	margin-left: 10vw;

}

.rule-before {
	background-color:rgb(201, 168, 95);
	width:90vw;
	height: 2px;
	

}



.joy-color {
	background-color: rgb(217, 186, 155);

}

.brown {
	background-color:rgb(183, 123, 113);
}

.green {
	background-color:rgb(122, 131, 166);
}

.light-orange {
	background-color:rgb(235, 201, 151);
}

.joy-text h1 {
	color:rgb(219, 220, 220);
;
}	

h1 {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 55px;
	color: rgb(219, 220, 220);
	line-height: 2px;
	width: 100vw;
	padding-top: 30vh;
	text-align: center;
	

}



.lyricity-text h1 {
	color:rgb(219, 220, 220);
}

.beauty-text h1 {
	color:rgb(219, 220, 220);
}

.simplicity-text h1 {
		color:rgb(219, 220, 220);
}


.home-text h1 {
	line-height: 55px;
	font-size:45px;
	padding-top:30px ;
	color: rgb(34, 32, 45);
}

.home h2 {
	line-height: 80px;
}


@keyframes rotates {


}




@media(min-width: 550px) {
	body {
		width: 500px;
		margin-left: auto;
		margin-right:auto;

	}

	img {
		width: 500px;
	}

	.top-section {
		width: 500px;
	}

	.rule-after {
	width: 500px;
	}

	.rule-before {
	width: 500px;
	}
}*/