html, body {
	margin: 0;
	padding:0;

}

body { background-image: url(watercolor.jpg);

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	

}

h1 {
	font-family: Georgia, serif;
	font-weight: 400;
	font-size: 80px;
	color: rgb(201, 168, 95);
	line-height: 2px;
	margin-left: 5vw;
	

}

.title {
	
	position: absolute;
	top:40px;
	
	
}



h2 {
	font-family: Georgia, serif;
	font-weight: 200;
	font-size: 35px;
	color: rgb(72, 80, 93);
	margin-left: 10vw;
	margin-bottom:0;
	margin-top: 5px;
	text-decoration-color: none;

}

h3 {
	font-family: Georgia, serif;
	font-weight: 200;
	font-size: 18px;
	color: rgb(72, 80, 93);
	margin-left: 15vw;
	line-height: 22px;
	padding-top: 0px;
	margin-top:0;

}

h4 {padding: 0;
	margin: 0;
	text-decoration: none;
	

}

img {
	width: 100vw;
	
	

	padding-top: 10px;
	padding-bottom: 10px;

}

.firstimage
{
	width: 100vw;

	padding: 0;}


p {font-family: Georgia, serif;
	font-weight: 100;
	font-size: 14px;
	color: rgb(72, 80, 93);
	line-height: 22px;
	margin-left: 10vw;
	margin-bottom:10px;


}

a img {
	width:20vw;
	text-decoration: none;
	margin-left: 80px;

}

a {
	text-decoration: none;
	color:rgb(72, 80, 93);

}

a {}

.top-section {
	
	width:100vw;
	height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	margin-bottom: 10px;
}

.wonder-image {
	 background-image: url(wonder1.JPG)

}

.joy-image {
	 background-image: url(joy1.JPG)
}

.lyricity-image {
	background-image: url(lyricity1.0.JPG)
}

.beauty-image {
	background-image: url(beauty1.JPG)
}

.simplicity-image {
	background-image: url(simplicity1.JPG)
}

.home-image {
	
	background-image: url(home.JPG)
}
.arrow {

margin-left: 150px;
bottom:100px;
}

.home-arrow img {

margin-left: 150px;
padding-top: :300px;
width:20vw;
}


.arrow img {

	padding-top: 140px;
	width:20vw;
}

.rule-after {
	background-color:rgb(201, 168, 95);
	width:90vw;
	height: 3px;
	margin: : 5px;
	margin-left: 10vw;

}

.rule-before {
	background-color:rgb(201, 168, 95);
	width:90vw;
	height: 3px;
	margin: : 5px;
	margin-right: 10vw;

}

.orange {
	background-color: rgb(183, 74, 13);

}

.brown {
	background-color:rgb(183, 123, 113);
}

.green {
	background-color:rgb(41, 64, 40);
}

.light-orange {
	background-color:rgb(235, 201, 151);
}

.orange-text h1 {
	color:rgb(183, 74, 13);
;
}	

.lyricity-text h1 {
	color:rgb(183, 123, 113);
}

.beauty-text h1 {
	color:rgb(41, 64, 40);
}

.simplicity-text h1 {
	color:rgb(235, 201, 151);
}


.home-text h1 {
	line-height: 55px;
	font-size:50px;
	padding-top:30px ;
}

.home h2 {
	line-height: 80px;
}