*
 {
 	margin:0px;
 }
body {left: 0px;

	
	
	
}


div {
	position: absolute;
}


h1 {

	padding-left: 5px;
	padding-top: 5px;
	bottom:0;
	left:20px;
	right:0;
	margin:5px;
	color: rgb(106, 88, 69);
	line-height: 30px;
	font-family: asul;
	font-size: 20px;
	font-weight: bold;
}



p {
	
	font-family: asul;
	font-size:20px;
	color: rgb(106, 88, 69);
	
}

.feature {
	z-index: 2;
	top:13px;
	left:255px;
	width:100vw;
height:45px;
}

.feature p {font-size: 20px;

font-weight:; }

.warsaw {
	
width:100vw;
height:45px;
top: 0;
background-color: rgb(255, 255, 255);
z-index: 1;
}


.warsawrule {
	width:100vw;
	height: 5px;
	background-color: rgb(106, 88, 69);
	z-index: 2;

}

.warsawhamburger1 {
	top:15px;
	right:25px;
	width:20px;
	height:2px;
	background-color: rgb(106, 88, 69);
	z-index: 2;
}

.warsawhamburger2 {
	top:25px;
	right:25px;
	width:20px;
	height:2px;
	background-color: rgb(106, 88, 69);
	z-index: 2;
}

.warsawhamburger3 {
	top:35px;
	right:25px;
	width:20px;
	height:2px;
	background-color: rgb(106, 88, 69);
	z-index: 2;
}

.video {
	position: fixed;
	top:0;
	left:0;
	z-index: -1;

	min-width: 100vw;
	min-height: 100vh;

	top:75%;
	left:75%;
	transform: translate(-50%, -50%);
	
}

.handdrawntype {

	width:100vw;
	height:100vh;
	opacity: 0.8;


	background-image: url("the oh hellos type2.svg");
	background-size: contain;
	background-repeat: no-repeat;
	top:60px;
	}

.image {
	display: none;
	width:100vw;
	height:100vh;

	background-image: url("image.png");
	background-size: contain;
	background-repeat: no-repeat;
}

.subtext {
	height:55px;
	width:100vw;
	top: 300px;
	left:0;
	
	opacity: 0.7;
	padding:20px;
	border-radius: 20px 0 0 0;
	background-size: 


}
.date {
	top: 400px;

	left:100px;
}
.date h2 {
	font-size:50px;
	font-weight: bold;
	display: inline-block;
	opacity: 0.7;
	padding:20px;
	border-radius: 20px 20px 20px 20px;
	background-size:
	width: 50px;
	
	
	background-color: white;
}

.tickets {
	top: 400px;

	left:550px;
}

.tickets p {
		font-size:50px;
	
	font-height:20px;
	text-align: center;

	display: inline-block;
	opacity: 0.7;
	padding:20px;
	border-radius: 20px 20px 20px 20px;
	background-size:
	width: 50px;
	
	
	background-color: white;

}
.address {
	top: 400px;
display: inline-block;
	opacity: 0.7;
	padding:20px;
	border-radius: 20px 20px 20px 20px;
	background-size:
	width: 50px;
	background-color: white;
	right:100px;
}

h2 {font-family: asul;
	color: rgb(106, 88, 69);
	font-size:50px;
	font-weight:thin;
	background-color: white;
	
}
.address p {
	text-align: center;

	
}
.addressrule {
	
	width:200px;
	height:2px;
	background-color: rgb(106, 88, 69);
	z-index: 2;
}


.ticketsrule {
	display: none;
	
}





.texture {
	top:100px;
	opacity: 0.3;
}



.mobile {
	display: none;
}



.handdrawntype1 {
	display: none;
	background-image: url("type3.svg");
	opacity: 1.0;
	top: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	
}

@media(max-width: 700px) {

.feature{
	display: none;
}

.video {
	display: none;
}

.handdrawntype1 {
	display: inline-block;
	background-image: url("type3.svg");
	opacity: 1.0;
	top: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	width:100vw;
	height:100vh;
	z-index: 3;
	
}


.handdrawntype {
	display: none;
}

.image {
	display: inline-block;
	background-image: url("image.png");
	top: 50px;
	width:100vw;
	height:100vh;
}

.mobile {
	width: 100vw;
	height: 100vw;
	display: inline;

}
.tickets {
	top: 550px;

	left:100px;
}

.ticketsrule{
	display: inline-block;
	width:200px;
	height:2px;
	background-color: rgb(106, 88, 69);
	z-index: 2;
}
.address{
	top: 700px;

	left:20px;
	right: 0;
}
.addressrule {
	
	left:80px;
	width:200px;
	height:2px;
	background-color: rgb(106, 88, 69);
	z-index: 2;
	display: center;
}
}


