.background {
	background-image: url(sand.png);
	
	background-repeat: no-repeat;
	background-position: center center;
	width: 100vw;
	height:100vh;
	
	margin:0;
	z-index: -2;



}
.shell1r {
	background-image: url(shell1.png);
	background-size:cover;
	width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:77vw;
	animation-name: shellsa;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	
	
	
}

.shell2r {
	background-image: url(shell2.png);
	background-size:cover;
	width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:83vw;
	animation-name: shellsa;
	animation-delay: 10s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	
}

.shell3r {
	background-image: url(shell3.png);
	background-size:cover;
	width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:88vw;
	animation-name: shellsa;
	animation-delay:20s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
}

.shell4r {
background-image: url(shell4.png);
	background-size:cover;
	width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:77vw;
	animation-name: shellsb;
	animation-delay: 30s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	
	
}

.shell5r {
	background-image: url(shell5.png);
	background-size:cover;
	width: 16vw;
	height: 16vw;
	position:absolute;
	top: -40vh;
	margin-left:80vw;
	animation-name: shellsb;
	animation-delay: 40s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	
	
}



.shell6r {
	background-image: url(shell6.png);
	background-size:cover;
	width: 16vw;
	height: 16vw;
	position:absolute;
	top: -40vh;
	margin-left:90vw;
	animation-name: shellsb;
	animation-delay: 50s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	}

.shell7r {
	background-image: url(shell1.png);
	background-size:cover;
		width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:77vw;
	animation-name: shellsc;
	animation-delay:60s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	
	
}

.shell8r {
	background-image: url(shell2.png);
background-size:cover;
		width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:84vw;
	animation-name: shellsc;
	animation-delay: 70s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	
	
}

.shell9r {
	background-image: url(shell3.png);
	background-size:cover;
		width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:88vw;
	animation-name: shellsc;
	animation-delay: 80s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
	
}

.shell10r {
	background-image: url(shell4.png);
	background-size:cover;
		width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:77vw;
	animation-name: shellsd;
	animation-delay: 90s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
}



.shell11r {
	background-image: url(shell5.png);
		background-size:cover;
		width: 16vw;
	height: 16vw;
	position:absolute;
	top: -40vh;
	margin-left:80vw;
	animation-name: shellsd;
	animation-delay: 100s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
}

.shell12r {
	background-image: url(shell6.png);
	background-size:cover;
		width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:89vw;
	animation-name: shellsd;
	animation-delay: 110s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

.shell13r {
	background-image: url(shell1.png);
	background-size:cover;
	width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:77vw;
	animation-name: shellse;
	animation-delay: 120s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
	
}
.shell14r {
	background-image: url(shell2.png);
	background-size:cover;
width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:84vw;
	animation-name: shellse;
	animation-delay: 130s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

}

.shell15r {
	background-image: url(shell3.png);
	background-size:cover;
width: 15vw;
	height: 15vw;
	position:absolute;
	top: -40vh;
	margin-left:88vw;
	animation-name: shellse;
	animation-delay: 140s;
	animation-duration: 10s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

}




body {
	margin: 0;
	background-image:url(sand.png);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100vw;
	height:100vh;
	
	margin:0;
}

.wave {
	background-image: ;
width:100vw;
	height:100vh;
	margin: 0;
	
	background-repeat: no-repeat;
	background-size:100%;
	animation-name: waves;
	animation-duration: 100s;
	animation-iteration-count: infinite;
	display: inline-block;
	z-index: 0;

}

.footprints {
	margin-right:23vw;
	opacity: 0.6;
	top:0;
	bottom:1vh;
	right:1vw;
		background-image: url(rightfoot.svg);
width:10vw;
	height:100vh;
	
	background-repeat: no-repeat;
	background-size:100%;
	animation-name: feet;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	display: inline-block;
	position: absolute;
	z-index: 0;
}

@keyframes waves{
	0% {background-image:url(sand.png);}

	8.3%{background-image:url(wave1.png);}

	16.6%{background-image:url(wave2.png);}

	24.9%{background-image:url(wave3.png);}

	33.2%{background-image:url(wave4.png);}

	41.5%{background-image:url(wave5.png);}

	49.8%{background-image:url(wave6.png);}

	58.1%{background-image:url(wave7.png);}

	64.4%{background-image:url(wave8.png);}

	72.7%{background-image:url(wave9.png);}

	81%{background-image:url(wave10.png);}

	89.3%{background-image:url(wave11.png);}

	100%{background-image:url(wave12.png);}



}






@keyframes feet {
0% {}

10%{background-image: url(rightfoot.svg);}

20%{background-image: url(rightfoot2.svg);}

30%{background-image: url(rightfoot3.svg);}

40%{background-image: url(rightfoot4.svg);}

50%{background-image: url(rightfoot5.svg);}

60%{background-image: url(rightfoot6.svg);}

70%{background-image: url(rightfoot7.svg);}

80%{background-image: url(rightfoot8.svg);}

90%{background-image: url(rightfoot9.svg);}

100%{background-image: url(rightfoot10.svg);}

}




@keyframes shellsa {
 0% {
   top:-20vh;
  }
  100% {
    top: 75vh;
  }
}

@keyframes shellsb {
 0% {
   top:-20vh;
  }
  100% {
    top: 54vh;
  }
}

@keyframes shellsc {
 0% {
   top:-20vh;
  }
  100% {
    top: 33vh;
  }
}

@keyframes shellsd {
 0% {
   top:-20vh;
  }
  100% {
    top: 13vh;
  }
}

@keyframes shellse {
 0% {
   top:-20vh;
  }
  100% {
    top: -7vh;
  }
}